/**
 * SECTION 1 - General styling
 * SECTION 2 - Layout
 * SECTION 3 - Public pages
 */



/**
 * SECTION 1 - General styling
 */


/*
 * Global
 */
body {
    margin: 0px;
}

* {
    font-family: "Open Sans";
}

a {
    color: blue;
}

.notice {
    background: rgb(78, 163, 76);
    color: white;
    padding: 20px;
    border: 1px solid #75BB4C;
}

.notice a {
    color: white;
}

.widget {
    position: relative;
}

.widget h3 {
    display: none;
}

a.cta {
    background: #ff641d;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a.cta:after {
    content: '';
    background: url('/huren/img/cta_arrow_right.png');
    width: 17px;
    height: 17px;
    display: block;
    float: right;
    margin-left: 7px;
    margin-top: 4px;
}

a.cta:hover {
    background: #ff5000;
}

/*
 * jquery ui
 */
.ui-widget-header {
    background: #ff641d;
}

.ui-dialog-buttonset .ui-state-default:first-child {
    background: #ff641d;
    color: white;
}

.ui-dialog-buttonset .ui-state-default.ui-state-hover:first-child {
    background: #ff5000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #333;
    background: #EFEFEF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: white;
    background: #ff5000;
}

.ui-accordion .ui-accordion-icons {
    padding-left: 15px;
}

.ui-accordion .ui-icon {
    display: none;
}

/*
 * List
 */
.list-head td {
    font-weight: normal;
    color: #ff641d;
    background: #F9F9F9;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding-left: 5px;
}

.list-head td:first-child {
    border-left: 1px solid #d3d3d3;
}

.list td {
    min-height: 20px;
}

.list .action-column a {
    width: 100%;
    border-right: 1px solid #d3d3d3;;
    box-sizing: border-box;
}


/*
 * Form
 */

.error {
    background: #FFDDDD;
    border: 1px solid rgb(207, 124, 124);
    padding: 10px;
    margin-bottom: 10px;
    color: #BB4444;
}


.field label,
.field input,
.field select
{
    float: none;
    clear: both;
}

.field label
{
    margin: 10px 0 5px;
    display: block;
    color: #ff641d;
    font-size: 16px;
}

.field input[type="text"],
.field input[type="password"],
.field select,
.field textarea
{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
}

.field textarea {
    height: 200px;
}

.field input[type="submit"] {
    padding: 0px 10px;
}


.widget-form-container legend {
    color: #333;
    border: 0px;
    font-size: 14px;
}

.widget-form-container legend a {
    color: #ff641d;
    text-decoration: none;
}

.widget-form-container legend a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background: #ff641d;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ff5000;
}


/*
 * Attribute list
 */

.attribute-list {
    margin: 0 0 30px 0;
}

.attribute-list .title {
    font-size: 17px;
    font-weight: 700;
}

.attribute-list ul {
    margin-right: 20px;
    padding: 0px;
    list-style: none;
    font-size: 13px;
}

.attribute-list ul li {
    background: #f5f5f5;
    line-height: 30px;
    margin-bottom:2px;
    color: #3e3e3e;
    overflow: hidden;
    clear: both;
}

.attribute-list ul li.even {
    background: #ffe1d5;
}

.attribute-list ul li .key {
    float: left;
    width: 50%;
    text-indent: 10px;
    font-weight: 700;
}

.attribute-list ul li .value {
    float: left;
    width: 50%;
}

/**
 * SECTION 2 - Layout
 */



body > .content {
    min-height: 100px;
    padding: 20px 0px;
    
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    clear: both;
}


@media screen and (min-width: 1024px) {
    body > .content {
	width: 980px;
	overflow: hidden;
    }
    
    .sidebar,
    .main
    {
	float: left;
    }
    
    .sidebar {
	width: 30%;
    }
    
    .main {
	width: 70%;
    }
}


@media screen and (min-width: 1240px) {
    body > .content {
	width: 1200px;
    }
    
    .sidebar {
	width: 25%;
    }
    
    .main {
	width: 75%;
    }
}



/* 
 * Header 
 */

header {
    position: relative;
}

.logo {
    background: url('/huren/img/logo.png');
    width: 153px;
    height: 64px;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 2;
}

ul.nav {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    clear: both;
    overflow: hidden;
}

ul.nav li,
ul.nav li:not(:first-child) {
    float: left;
    background: transparent;
    border: 0px;
}

ul.nav li a,
ul.nav li a:hover,
ul.nav li a.selected,
ul.nav li a.selected:hover
{
    background: transparent;
    color: white;
    text-shadow: 1px 1px #474747;
    font-weight: 700;
    padding: 5px 15px;
}

ul.nav li a:hover,
ul.nav li a.selected
{
    border-bottom: 2px solid #ff641d;
}

ul.nav .woning-verhuren,
ul.nav .woning-verhuren.selected,
ul.nav .woning-verhuren:hover,
ul.nav .woning-verhuren.selected:hover
{
    background: #ff641d;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border: 0px;
    margin-top: 2px;
    margin-left: 10px;
}

ul.nav .woning-verhuren:hover,
ul.nav .woning-verhuren.selected:hover
{
    background: #ff5000;
}

ul.nav .woning-verhuren:after
{
    content: '';
    background: url('/huren/img/cta_arrow_right.png');
    width: 17px;
    height: 17px;
    display: block;
    float: right;
    margin-left: 7px;
    margin-top: 1px;
}

.swiper-slide {
    width: 100%;
    height: 250px;
}

.swiper-slide img {
    width: 100%;
}


.with-search .swiper-slide {
    width: 100%;
    height: auto;
}

.with-search .swiper-slide img {
    width: 100%;
    height: auto;
}

.slider-title,
.slider-subtitle {
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px #222;
}

.slider-title {
    font-size: 30px;
    margin-left: -280px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-subtitle {
    font-size: 23px;
    margin-top: 40px;
    margin-left: -222px;
    font-weight: 400;
}

header .page-title {
    position: absolute;
    bottom: 0px;
    width:100%;
    height: 55px;
    z-index: 2;
    line-height: 55px;
    background: rgba(0,0,0,0.7);
}

header .page-title h1 {
    color: white;
    font-size: 20px;
    display: block;
}

@media screen and (min-width: 1240px) {
    header .page-title h1 {
	width: 1200px;
	margin: 0 auto;
    }
    
    header .widget-body {
	position: absolute;
	bottom: 0px;
	height: 80px;
	padding-top: 20px;
	width: 100%;
	z-index: 2;
	
	background: rgba(0,0,0,0.7);
	clear: both;
    }
    
    header form {
	width: 700px;
	margin: 0px auto;
    }
    
    header form .field {
	float: left;
    }

    header form .field label {
	clear: both;
	display: block;
	color: white;
    }
    
    header form .field .chosen-container-single .chosen-single {
	background: white;
	border-radius: 0px;
	height: 30px;
	line-height: 30px;
    }
    
    header form .field input[type="text"],
    header form .field select
    {
	background: white;
	height: 30px;
    }
    
    header form .field input[type="text"] {
	width: 300px;
    }
    
    header form .field select {
	width: 150px;
    }
    
    header form .field:first-child select {
	width: 300px;
    }

    header form .field input[type="submit"] {
	width: 100px;
	height: 30px;
	margin-top: 37px;
	border: 0px;
	background: #ff641d;
	color: white;
    }
}

/*
 * Footer
 */
footer {
    padding-top: 20px;
    background: #1f1f1f;
}

footer .top-cities ul a {
    color: white;
    text-decoration: none;
}

footer .top-cities ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin: 0px;
}

footer .top-cities ul li {
    line-height: 20px;
}

footer .top-cities ul li:before {
    content: '';
    float: left;
    display: block;
    width: 10px;
    height: 13px;
    margin-top: 3px;
    margin-right: 3px;
    background-image: url("../img/cities_arrow.png");
}

footer .company {
    overflow: hidden;
    color: white;
    
}

footer .company .info {
    float: left;
}

footer .company .logo {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 153px;
    height: 64px;
    background: url('../img/logo.png');
    position: inherit;
}

footer .social-media {
    margin-top: 20px;
    clear: both;
    overflow: hidden;
}

footer .social-media .facebook,
footer .social-media .twitter,
footer .social-media .gplus
{
    display: block;
    float: left;
    margin-right: 15px;
}

footer .social-media .facebook {
    height: 25px;
    width: 25px;
    background: url('../img/facebook.png');
}

footer .social-media .twitter {
    height: 29px;
    width: 29px;
    background: url('../img/twitter.png');
}

footer .social-media .gplus {
    height: 30px;
    width: 30px;
    background: url('../img/gplus.png');
}

.footer-wrapper,
.after-footer-wrapper
{
    width: 90%;
    margin: 0 auto;
}

.footer-wrapper {
    min-height: 200px;
}

.after-footer {
    color: white;
    font-size: 15px;
    min-height: 55px;
    padding-top: 10px;
    background: #282828;
}

.after-footer a {
    color: white;
}


@media screen and (min-width: 768px) {
    footer .top-cities {
	width: 55%;
	float: left;
    }
    
    footer .top-cities ul li {
	float: left;
	margin-right: 5%;
	width: 45%;
    }

    footer .company {
	width: 40%;
	float:right;
    }
    
    .after-footer .footer-menu ul{
	clear: both;
	overflow: hidden;
	padding: 0px;
	margin: 7px 0;
    }
    
    .after-footer .footer-menu li {
	float: left;
	font-size: 12px;
    }
    
    .after-footer .footer-menu li:not(:first-child):before {
	content: '.';
	font-size: 50px;
	margin-top: -6px;
	line-height: 1px;
	float: left;
	height: 20px;
	width: 12px;
	padding: 0px 10px;
	display: block;
    }
}


@media screen and (min-width: 1024px) {
    .after-footer .copyright {
	float: left;
    }
    
    .after-footer .info {
	float: right;
    }
}

@media screen and (min-width: 1240px) {
    .footer-wrapper,
    .after-footer-wrapper
    {
	width: 1200px;
    }
    
}
